.sortable-item {
	border: 1px solid #d9eaf5;
	padding: 2px 10px;
	background: #f4f9fc;
	margin: 4px 0;
	white-space: nowrap;
}

.sortable-helper {
	border: 1px dashed #85bcde;
	background: #fff;
}

.contaxe-handle {
	color: #85bcde;
	font-size: 16px;
	font-weight: bolder;
	cursor: move;
	margin-right: 5px;
}

.sortable-item .form-item {
	display: inline;
}

.sortable-item .container-inline {
	display: inline;
}
